<div class="border-bottom">
  <div class="container-lg px-3">
    <div class="py-4 d-flex d-flex-row">
      <h1 class="alt-h4 col-4 lh-default v-align-middle">
        <a href="/" class="no-underline text-uppercase text-brand-blue-dark">
          <img class="v-align-middle" style="margin: -20px 8px -8px 0;" src="/assets/probot-head.png" height="36" alt="">
          Probot
        </a>
      </h1>
      <nav class="text-bold col-8 text-right">
        <a class="text-inherit px-2 d-inline-block" href="/#explore">Explore</a>
        <a class="text-inherit px-2 d-inline-block" href="/docs/">Build</a>
        <a class="text-inherit px-2 d-inline-block" href="https://github.com/probot/probot">Contribute</a>
      </nav>
    </div>
  </div>
</div>
