---
---

@import "primer-css/index.scss";
@import "pages/home.scss";
@import "colors.scss";
@import "markdown.scss";
@import "switcher.scss";

img {
  max-width: 100%;
  max-height: 100%;
}

.featurette {
  padding-top: $spacer * 10;
  padding-bottom: $spacer * 10;
}

.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

code {
  font-size: 14px;
}

#toc {
  h4 {
    @extend .alt-h4, .text-gray;
    margin-bottom: $spacer-2;
  }

  ul {
    margin-bottom: $spacer-4;
    list-style: none;
  }
}
