---
layout: default
title: Featured Apps
---

<div class="bg-gray-light">
  <div class="container-lg px-3 page-section">
    <h1 class="alt-h2">{{ page.title }}</h1>

    <div class="d-md-flex flex-wrap gutter flex-auto">
      {% assign apps = site.apps | sort: 'installations' | reverse %}
      {% for app in apps %}
        {% include app.html app=app %}
      {% endfor %}

      <div class="col-lg-4 col-md-6 mb-3 mt-3 d-flex flex-column">
        <a href="https://github.com/probot/probot.github.io/blob/master/CONTRIBUTING.md#adding-your-app" class="d-flex flex-column flex-1 rounded-1 border border-dashed border-gray-dark link-gray no-underline">
          <h3 class="h4 px-3 pt-3">
            {% octicon plus class:"v-align-text-bottom" %}
            Share your app
          </h3>
          <p class="lh-condensed px-3 pb-3">Is your app ready for prime time? Submit it to the app directory.</p>
        </a>
      </div>
    </div>

    <div class="col-md-5 mx-auto mt-6 text-center">
      <h3 class="alt-h4">Find more apps</h3>
      <p class="text-gray-light">
        Browse the <a href="https://github.com/search?q=topic%3Aprobot-app&type=Repositories">#probot-app</a> topic on GitHub to find more apps to use and contribute to, or <a href="/docs/">build your own</a>.
      </p>
    </div>

  </div>
</div>
