---
layout: default
---
{% assign topic = page.path | replace: ".md", "" | replace: "_topics/", "" %}

<div class="container-lg px-3">
  <div class="jumbotron jumbotron-minitron bg-gray">
    <span class="breadcrumb-item ml-0"><a class="link-gray" href="/apps/">Explore</a></span>
    <h1 class="alt-h2">{{ page.title }}</h1>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="col-9">
      <div class="d-md-flex flex-wrap gutter flex-auto">
        {% for app in site.apps %}
          {% if app.topics contains topic %}
            {% include app.html app=app col=2 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-3">
      {% include topics.html %}
    </div>
  </div>
</div>
