name: Sync app data

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Install dependencies & sync data
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn install
          yarn sync-data

      - name: Commit & Push changes
        run: |
          git submodule init
          git submodule update 
          git config user.name Probot Bot
          git config user.email probotbot@users.noreply.github.com
          git add .
          # do not error if there is nothing to commit
          git commit -m "chore: Sync data" && git push || true
          yarn sass
          yarn build
          # Prevent GitHub from trying to use Jekyll
          touch _site/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
